.checkout-cart-index .columns {
    @apply gap-y-0;
}

.checkout-cart-index > .loader-wrapper {
    @apply fixed z-[30];
}

.checkout-cart-index .breadcrumbs .item.flex {
    @apply items-center;
}

.checkout-cart-index .page-main {
    @apply mt-[8px] mb-[24px];
}

.checkout-cart-index .page-main .title-wrapper {
    @apply mt-[8px] mb-[24px];

    @screen md {
        @apply mb-[48px;]
    }
}

.checkout-cart-index .cart-empty {
    @screen md {
        @apply pt-[28px] pb-[86px];
    }

    @screen lg {
        @apply pt-[36px] pb-[112px];
    }
}

.checkout-cart-index .page-main .checkout-methods-items {
    @apply bg-white fixed bottom-0 inset-x-0 shadow-[0px_0px_4px_-1px_rgba(17,24,39,0.06),0px_0px_8px_-1px_rgba(17,24,39,0.06)];
    padding: 16px 0;
    z-index: 3;

    @screen md {
        padding: 24px 0;
    }

    @screen lg {
        position: unset;
        background: none;
        box-shadow: none;
        padding: unset;
    }

    .item.container {
        @screen lg {
            padding: unset;
        }
    }
}

.checkout-cart-index .page-main .product-item-name a {
    @apply line-clamp-1;

    @screen lg {
        @apply line-clamp-3;
    }
}

.checkout-cart-index .page-main #shopping-cart-table tbody + script + tbody tr,
.checkout-cart-index .page-main #shopping-cart-table tbody + tbody tr {
    border-top: none;
}

.checkout-cart-index .page-main #shopping-cart-table .towishlist {
    @apply hidden;
}

.checkout-cart-index .page-main #shopping-cart-table .item-options > span + span:before {
    content: ', ';
}

.checkout-cart-index .page-main #shopping-cart-table .field.qty {
    display: flex;

    .btn-decrease,
    .btn-increase {
        @apply items-center justify-center w-[36px] h-[34px] leading-[34px];
        display: flex;

        @screen md {
            @apply h-[42px] leading-[42px];
        }

        @screen lg {
            @apply h-[48px] leading-[48px];
        }
    }

    .control.qty {
        @apply w-[46px];

        .qty-input {
            @apply w-full h-[34px] text-center border-2 border-neutral-200;
            border-right: none;
            border-left: none;

            @screen md {
                @apply h-[42px] leading-[42px];
            }

            @screen lg {
                @apply text-base h-[48px] leading-[48px];
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    .btn-decrease {
        @apply border-2 border-neutral-200 rounded-tl-md rounded-bl-md;
        border-right: none;

        &[disabled] {
            @apply text-neutral-300;
        }
    }

    .btn-increase {
        @apply border-2 border-neutral-200 rounded-tr-md rounded-br-md;
        border-left: none;
    }
}

.checkout-cart-index .page-main .cart.actions,
.checkout-cart-index .page-main #block-shipping {
    @apply hidden;
}

.checkout-cart-index .page-main .product-slider {
    section {
        @apply mb-0;
        margin-top: 40px;

        @screen md {
            @apply mt-[76px];
        }

        @screen lg {
            @apply mt-[64px];
        }
    
        .hyva-slider > .container {
            @apply p-0 text-left items-start mb-[13px];
            border: none;

            @screen md {
                @apply mb-[21px];
            }
        }

        .slider-navigation {
            @apply hidden;
        }
    
        h3 {
            @apply font-bold
        }
    }

    .slider-container {
        @apply -mx-4;

        @screen md {
            @apply -mx-6;
        }

        @screen lg {
            @apply -mx-10;
        }

        .slider-wrapper {
            @apply px-4 py-[3px];
            scroll-snap-type: unset;

            @screen md {
                @apply px-6;
            }
            
            @screen lg {
                @apply px-10;
            }
        }

        .card {
            @apply border border-neutral-100 shadow;
        }

        .product-item-photo {
            @apply max-w-full;
        }
    }
}

.checkout-cart-index :not('th.col.item') #item-count {
    @screen lg {
        @apply hidden;
    }
}

.checkout-cart-index .product-item-photo img {
    @apply rounded-lg w-[110px] h-[110px] object-cover;

    @screen md {
        @apply w-[120px] h-[120px];
    }

    @screen lg {
        @apply rounded-md;
    }
}

.checkout-cart-index .price-excluding-tax .price,
.checkout-cart-index .price-including-tax .price {
    @apply text-base text-neutral-700 font-semibold;

    @screen lg {
        @apply text-lg leading-[20px] font-medium;
    }
}