.customer-account-login {
    #maincontent {
        @apply mt-0;
        
        .title-wrapper {
            @apply mb-4 leading-6;

            @screen md {
                @apply mt-[30px] mb-6;
            }
        }

        #customer-login-container {
            @apply mt-0;
        }
    }

    .fieldset > .field.required > .label {
        &:after {
            @apply hidden;
        }
    }

    .social-login-list {
        a[class*=social-login-btn-] {
            @apply px-[18px] py-[13px] w-full bg-white border border-neutral-200 text-neutral-500 font-['Inter'] rounded-md flex gap-1.5 items-center justify-center text-base hover:border-neutral-400 hover:text-neutral-500;
            text-shadow: none;
        }

        .social-login-label {
            @apply font-medium;
        }

        span[class*=social-login-icon-] {
            @apply relative shadow-none border-r-0 ;
            background: none;
        }

        .social-login-icon-twitter {
            @apply w-3.5 h-3.5;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14' fill='none'%3E%3Cg clip-path='url(%23clip0_4519_137943)'%3E%3Cpath d='M8.8319 5.925L14.0437 0H12.8087L8.28327 5.14459L4.66883 0H0.5L5.96574 7.77954L0.5 13.9928H1.7351L6.51406 8.55995L10.3312 13.9928H14.5L8.8316 5.925H8.8319ZM7.14026 7.84808L6.58647 7.07341L2.18013 0.909309H4.07717L7.63314 5.88394L8.18693 6.6586L12.8093 13.1249H10.9122L7.14026 7.84837V7.84808Z' fill='%236B7280'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4519_137943'%3E%3Crect width='14' height='14' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }

        .social-login-icon-facebook {
            @apply w-4 h-4;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cg clip-path='url(%23clip0_4519_137949)'%3E%3Cpath d='M16.5 8C16.5 3.58172 12.9183 0 8.5 0C4.08172 0 0.5 3.58172 0.5 8C0.5 11.993 3.42547 15.3027 7.25 15.9028V10.3125H5.21875V8H7.25V6.2375C7.25 4.2325 8.44438 3.125 10.2717 3.125C11.1467 3.125 12.0625 3.28125 12.0625 3.28125V5.25H11.0538C10.06 5.25 9.75 5.86672 9.75 6.5V8H11.9688L11.6141 10.3125H9.75V15.9028C13.5745 15.3027 16.5 11.993 16.5 8Z' fill='%236B7280'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4519_137949'%3E%3Crect width='16' height='16' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }

        .social-login-icon-google {
            @apply w-4 h-4;
            content: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2117_363)'%3E%3Cpath d='M7.50211 1.27073C5.12386 2.08448 3.09736 3.86423 1.96861 6.11648C1.57486 6.89348 1.29136 7.71773 1.11811 8.57348C0.687612 10.6945 0.986862 12.9572 1.96336 14.8892C2.59861 16.1492 3.51211 17.2727 4.61461 18.1495C5.65936 18.979 6.87211 19.5985 8.16361 19.9397C9.79111 20.3755 11.5236 20.365 13.1616 19.9922C14.6421 19.651 16.0439 18.9422 17.1621 17.9132C18.3434 16.8265 19.1886 15.3985 19.6349 13.8602C20.1231 12.1855 20.1861 10.3952 19.8816 8.67323H10.6941V12.4847H16.0176C15.8129 13.7027 15.0884 14.8157 14.0646 15.5035C13.4189 15.9392 12.6786 16.2175 11.9121 16.354C11.1456 16.4852 10.3476 16.501 9.58111 16.3487C8.79886 16.1912 8.05861 15.8657 7.40761 15.409C6.36811 14.6792 5.57536 13.6135 5.17111 12.4112C4.75636 11.188 4.75111 9.82823 5.17111 8.61023C5.46511 7.74923 5.94811 6.95648 6.58861 6.30548C7.37611 5.49698 8.39986 4.91948 9.50761 4.68323C10.4526 4.48373 11.4501 4.52048 12.3741 4.79873C13.1616 5.03498 13.8861 5.47073 14.4794 6.03773L16.2749 4.24223C16.5899 3.92198 16.9206 3.61223 17.2251 3.28148C16.3169 2.44148 15.2459 1.76423 14.0804 1.33373C11.9804 0.556734 9.61786 0.540984 7.50211 1.27073V1.27073Z' fill='white'/%3E%3Cpath d='M7.50225 1.27061C9.61275 0.540859 11.9805 0.556609 14.0805 1.32836C15.246 1.75886 16.3117 2.43086 17.2252 3.27611C16.9207 3.60686 16.59 3.91661 16.275 4.23686L14.4795 6.03236C13.8862 5.46536 13.1617 5.03486 12.3742 4.79336C11.4502 4.51511 10.4528 4.47311 9.50775 4.67786C8.40525 4.91411 7.3815 5.49161 6.58875 6.30011C5.94825 6.94586 5.46525 7.74386 5.17125 8.60486C4.1055 7.77536 3.03975 6.95111 1.96875 6.12161C3.0975 3.86411 5.124 2.08436 7.50225 1.27061V1.27061Z' fill='%23828282'/%3E%3Cpath d='M1.12363 8.56809C1.29688 7.71758 1.58038 6.88808 1.97413 6.11108C3.03988 6.94058 4.10563 7.76483 5.17663 8.59434C4.75663 9.81759 4.75663 11.1773 5.17663 12.3953C4.11088 13.2248 3.04513 14.0543 1.97938 14.8786C0.992383 12.9518 0.693133 10.6891 1.12363 8.56809V8.56809Z' fill='%23C8C8C8'/%3E%3Cpath d='M10.6942 8.66772H19.8817C20.1862 10.3845 20.1179 12.1747 19.6349 13.8547C19.1887 15.393 18.3434 16.821 17.1622 17.9077L14.0594 15.498C15.0832 14.8102 15.8077 13.6972 16.0124 12.4792H10.6889C10.6942 11.2087 10.6942 9.93822 10.6942 8.66772Z' fill='%23878787'/%3E%3Cpath d='M1.96875 14.8839C3.0345 14.0596 4.10025 13.2301 5.166 12.4006C5.5755 13.6029 6.363 14.6686 7.4025 15.3984C8.0535 15.8551 8.799 16.1806 9.576 16.3381C10.3425 16.4956 11.1353 16.4746 11.907 16.3434C12.6735 16.2069 13.4137 15.9286 14.0595 15.4929L17.1623 17.9026C16.044 18.9369 14.6423 19.6404 13.1618 19.9817C11.5238 20.3544 9.79125 20.3649 8.16375 19.9291C6.87225 19.5879 5.6595 18.9736 4.61475 18.1389C3.5175 17.2674 2.604 16.1439 1.96875 14.8839V14.8839Z' fill='%23939393'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2117_363'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }

    button[disabled],
    button[disabled]:hover,
    button[disabled]:focus,
    button.disabled,
    button.disabled:hover,
    button.disabled:focus {
        @apply bg-neutral-200 text-neutral-400 !pointer-events-none;
        box-shadow: none !important;
    }
}